body {
    background-color: rgb(107, 107, 241);
    color: white;
    font: normal 15pt arial;
    text-align: center;

}

div {
    text-align: center;
    padding: 10px;
}

section {
    background: white;
    color: black;
    padding-bottom: 20px;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}



footer {
    margin-bottom: 2px;
    color: white;
    text-align: center;
    font-style: italic;
}